@font-face {  
  font-family: kg_skinny_latteregular ;
  src: url('../font/KGSkinnyLatte.ttf') format("truetype");  
}  

body {
	background-color: #fff;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1, form {
	background-color: #48b170;
}

form {
	padding: 0 6px 6px;
}

p {
	padding: 6px;
}

h1 {
	font-family: kg_skinny_latteregular, sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	padding: 6px;
}

label {
	display: block;
	margin-bottom: 6px;
}

select, input {
	padding: 6px;
	border: 1px solid #369;
	font-size: 14px;
}

select {
	width: 100%;
}

input {
	width: 97%;
}

.null {
	display: none;
}

#happy-melly-index {
	max-width: 500px;
	margin: 0 auto;
}

#happy-melly-navigation {
	text-align: right;
}

#happy-melly-navigation a {
	color: #48b170;
	text-decoration: none;
}

#happy-melly-about {
	color: #000;
	position: relative;
	background: #fff;
	border: 1px solid #000;
	margin-top: 15px;
	padding: 10px;
	color: #48b170;
	display: none;
}

#happy-melly-feedback {
	text-align: right;
	border-top: 1px solid #fff;
}

#happy-melly-header {
	height: 80px;
}

#happy-melly-header img {
	position: absolute;
	top: 0px;
}

#happy-melly-header h1 {
	text-align: right; 
}

#final-price, #final-currency {
	font-weight: bold;
}

#origin-price-error {
	display: none;
	background-color: #AA0000;
	padding: 3px;
}